@media screen and (max-width: 750px){
    [class*= "col-"]{
        width: 100%;
    }
    #content .mainvideo,
    #content > .optionvideo {
        width: 100%;
    }
    #content .mainvideo {
        position: absolute;
        top: 0;
    }
    #content {
        position: relative;
    }
    #content .optionvideo {
        margin-top: 850px;
    }
}